@keyframes rotate {
    50% {
        transform: rotate(180deg);
        /*rotate : 회전*/
        /*scale : 크기를 늘렸다 줄였다*/
        /*translate : 이동*/
    }
    100% {
        transform: rotate(360deg);
    }
}
    /*from-to로도 가능*/
html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #5B2386;
    color : #FFF;
}

#contents{
    display: flex;
    justify-content: center;
}

.wrapper{
    width : 100%;
    height : 100%;
    display : flex;
    flex-direction: column;
    margin-top: 50px;
}
/*제목이미지*/
.title{
    position: relative;
    display : flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.title .clock_img{
    width: 265px;
    height: 265px;
}

.title_img{
    position: absolute;
    width: 564px;
}

.intro {
    display : flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.intro .intro_saying {
    font-size : 36px;
    color: #F5DF4D;
    margin-bottom: 50px;
}

.intro .explain {
    position: relative;
    display : flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 80px;
}

.intro .quotes {
    padding-top : 20px;
}

.intro .explain p{
    position: absolute;
}