@keyframes rotate {
    /*50% {
        transform: rotate(180deg);
        /*rotate : 회전*/
        /*scale : 크기를 늘렸다 줄였다*/
        /*translate : 이동
    }*/
    100% {
        transform: rotate(360deg);
    }
}
    /*from-to로도 가능*/
html, body {
    height: 100%;
}

body {
    background-color: #5B2386;
    color : #FFF;
}

#contents{
}

.wrapper{
    margin-top: 50px;
}
/*제목이미지*/
.title{
    position: relative;
    display : flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.title .clock_img{
    width: 265px;
    height: 265px;
}

.title_img{
    position: absolute;
    width: 564px;
}

.intro {
    display : flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.intro .intro_saying {
    font-size : 36px;
    color: #F5DF4D;
    margin-bottom: 50px;
}

.intro .explain {
    position: relative;
    display : flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 80px;
}

.intro .quotes {
    padding-top : 20px;
}

.intro .explain p{
    position: absolute;
}

.inputs {
    display : flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin-bottom: 70px;
}

.inputs div{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.inputs input{
    padding : 15px 20px;
    margin : 0 15px;
    border : none;
    border-radius: 10px;
    font-size:20px;
    width:200px;
}

.inputs input::placeholder{
    color: #BABCBE;
}

button {
    font-size: 20px;
    color: #5B2386;
    background-color: #FCEE21;
    border: none;
    border-radius: 30px;
    padding:10px 40px;
    cursor: pointer;
    word-break: keep-all;
}

.start {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.start .btn_wrap {
    position: relative;
}

.start .click_img {
    position: absolute;
    right: -75px;
    bottom: -25px;
}

.result_loading{
    display: none;
    justify-content: center;
    margin-bottom: 80px;
}

.result_loading .img_wrap {
    width: 100px;
    height: 100px;
}

.result_loading .img_wrap img{
    width : 100%;
    height : auto;
    animation : rotate 1.1s infinite linear;
}

.result{
    display: none;
    line-height: 1.5;
    margin-bottom: 80px;
}

.result .result_wrap {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.result .result_wrap div{
    display: flex;
    align-items: center;
    font-size:20px;
}

.result span {
    padding: 0 20px;
    font-size: 70px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.share_btn{
    background-color: #FFF;
    margin-left: 20px;
}


#modal {
    display: none;
    position : fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

#modal .modal_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px;
    background-color: #FFF;
    border-radius: 20px;
}

#modal .cheer {
    color: #5B2386;
    text-align: center;
}

#modal .cheer h1{
    font-size: 80px;
}

#modal .cheer h3{
    font-size: 30px;
}

#modal .licat_img{
    margin-bottom: 20px;
}

#modal .close_btn{
    box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 15%);
    margin-bottom : 20px;
}

#modal .btn p{
    color : #747474;
    font-size: 13px;
    text-align: center;
}

#copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

#copyright p {
    font-size: 10px;
    line-height: 1.5;
    padding: 20px 0;
    text-align: center;
}